*.egg-info
*.py[co]
*.cfg
dist
build
*.egg
files
.idea
*.yaml
rssdata
/test/mime
*.lic
*.pid
*.db
.pytest_cache
__pycache__

.cache
.coverage
coverage.xml
test_result.*
_trial_temp

#nuitka depl
/ext
/ext-all

#virtualenv
virt-*
spyne
neurons
lib_py
lib_py2
readability
flanker
/mime
test/maint/dowser/

#latex
*.log
*.pdf
*.dvi
*.ps
*.bbl
*.blg
*.aux
*.backup
*.out
*.toc

# mem plot
*.png
*_data
.R*
log

# kate
.kateproject.d
.with-*

PKG-INFO
.DS_STORE
